body {
	
    background-image: url("https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17563-1920x1200.jpg");
    background-size: 100% 100%;            
    background-repeat: no-repeat;
    height:1000px;
    background-attachment: fixed
}

body, h1, h2, h3, h4, h5, h6 {
  font-family:'Open Sans Condensed', sans-serif;;
  font-weight: 700;
  color: #FFFFFF;
}

button {position: relative;
		left:67%;
		margin-left: -200px;
		margin-right:-200px;
    }